table,
td {
  border: 0;
  border-spacing: 5px;
}

table {
  background-color: #c0ffee;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  aspect-ratio: 1 / 1;
}

td {
  font-size: 24px;
  cursor: pointer;
  height: 1px;
  width: 1px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
}

.hidden {
  background-color: rgb(69, 69, 69);
}

.revealed {
  background-color: white;
  color: rgb(69, 69, 69);
}

.container {
  display: flex;
}

.board {
  flex: 2;
}